In [1]:
#Importing the books

book1= open("/Users/lydiastenflo/Dropbox/My Mac (Magnuss MacBook Air (2))/Desktop/Visualisation/HP-books/Book1.txt").read()
book2= open("/Users/lydiastenflo/Dropbox/My Mac (Magnuss MacBook Air (2))/Desktop/Visualisation/HP-books/Book2.txt").read()
book3= open("/Users/lydiastenflo/Dropbox/My Mac (Magnuss MacBook Air (2))/Desktop/Visualisation/HP-books/Book3.txt").read()
book4= open("/Users/lydiastenflo/Dropbox/My Mac (Magnuss MacBook Air (2))/Desktop/Visualisation/HP-books/Book4.txt").read()
book5= open("/Users/lydiastenflo/Dropbox/My Mac (Magnuss MacBook Air (2))/Desktop/Visualisation/HP-books/Book5.txt").read()
book6= open("/Users/lydiastenflo/Dropbox/My Mac (Magnuss MacBook Air (2))/Desktop/Visualisation/HP-books/Book6.txt").read()
book7= open("/Users/lydiastenflo/Dropbox/My Mac (Magnuss MacBook Air (2))/Desktop/Visualisation/HP-books/Book7.txt").read()
listofbooks=[book1, book2, book3, book4, book5, book6, book7]

In [2]:
#Counting the words in the books

countofwords=[len(book1.split()), len(book2.split()), len(book3.split()), len(book4.split()), len(book5.split()), len(book6.split()), len(book7.split())]
print(countofwords)

[83188, 92168, 116621, 206157, 276563, 182361, 211795]

In [3]:
#Character class

class Character:  
    def __init__(self, name, listofmentions): 
        self.name=name 
        self.listofmentions=listofmentions

In [4]:
#Creating the list of characters

import csv

file=open("/Users/lydiastenflo/Dropbox/My Mac (Magnuss MacBook Air (2))/Desktop/character_names_updated.csv", 'r').readlines()
listofcharacters=[]
for char in file:
  if 'character_primary_name' not in char:
    char=char.strip()
    listofcharacters.append(char)

print(listofcharacters)
#Creating an empty list of Character instances
listofinstances=[]

['Aberforth', 'Alastor', 'Albus', 'Alecto', 'Alice', 'Alicia', 'Amos', 'Amycus', 'Angelina', 'Anthony', 'Antonin', 'Augustus', 'Aurora', 'Bellatrix', 'Benjy', 'Bill', 'Blaise', 'Bloody', 'Cedric', 'Charity', 'Charles', 'Cho', 'Colin', 'Corban', 'Cormac', 'Crouch Jr.', 'Crouch Sr.', 'Cuthbert', 'Dean', 'Dedalus', 'Dennis', 'Dobby', 'Dolores', 'Dorcas', 'Draco', 'Dudley', 'Dumbledore', 'Edgar', 'Elphias', 'Emmeline', 'Ernest', 'Fabian', 'He-Who-Must-Not-Be-Named', 'Fat', 'Fenrir', 'Filch', 'Firenze', 'Fleur', 'Flint', 'Flitwick', 'Frank', 'Fred', 'Fudge', 'Gabrielle', 'Gellert', 'George', 'Gideon', 'Ginny', 'Godric', 'Graham', 'Gregory', 'Hagrid', 'Hannah', 'The Dark Lord', 'Harry', 'Helena', 'Helga', 'Hermione', 'Hestia', 'Horace', 'Igor', 'Irma', 'James', 'James Sirius', 'Justin', 'Katie', 'Kingsley', 'Kreacher', 'Lavender', 'Lee', 'Lily', 'Lockhart', 'Lucius', 'Luna', 'Lupin', 'Madam Hooch', 'Madame', 'Marcus', 'Marge', 'Marietta', 'Marlene', 'McGonagall', 'Michael', 'Millicent', 'Mr. Weasley', 'Mrs. Weasley', 'Mundungus', 'Myrtle', 'Narcissa', 'Neville', 'Newton', 'Nymphadora', 'Oliver', 'Ollivander', 'Padma', 'Pansy', 'Parvati', 'Penelope', 'Percy', 'Pettigrew', 'Petunia', 'Poppy', 'Quirrell', 'Regulus', 'Remus', 'Rodolphus', 'Roger', 'Romilda', 'Ron', 'Rose', 'Rowena', 'Rufus', 'Salazar', 'Scorpius', 'Seamus', 'Septima', 'Sir Nicholas', 'The Heir of Slytherin', 'Sirius', 'You-Know-Who', 'Snape', 'Sprout', 'Sturgis', 'Susan', 'Terry', 'Theodore', 'Trelawney', 'Vernon', 'Viktor', 'Vincent', 'Tom', 'Voldemort', 'Walden', 'Wilhelmina', 'Zacharias']

In [5]:
import pandas as pd

import re

#Generate a dictionary for every name in the list of characters:
def generate_dicts(listofcharacters):
    for name in listofcharacters:
        count(name, listofbooks)


#Counting the mentions:

def count(name, listofbooks):

    listofmentions={} #creating a dictionary for the character
    char_instance=Character(name, listofmentions) #creating an instance
    listofinstances.append(char_instance) 

    n=0
    
    for book in listofbooks: #for every book
        n+=1
        i=0
        bookname=f"Book {n}:" 
        #temp= re.escape(name)
        #temp1=(r"\b" + temp + r"\b")
        i=len([*re.finditer(name, book)]) #counting the occurences of the pattern in the book
        char_instance.listofmentions[bookname]=i
    
    return char_instance.listofmentions
    

#Making the dataframe:

def makedf(listofinstances):
    
    df = pd.DataFrame()
    for instance in listofinstances:
        index=[instance.name]
        df_temp = pd.DataFrame({'counts': [instance.listofmentions]}, columns = ['counts'])
        df_temp=df_temp.rename_axis('Character_Primary_Name')
        df_temp=df_temp['counts'].apply(pd.Series)
        df_temp.index=index

        df=pd.concat([df, df_temp], axis=0)


    return df
    

generate_dicts(listofcharacters)

df=makedf(listofinstances)
df=df.rename_axis('Character_Primary_Name')

#Export the dataframe to a CSV
df.to_csv('final_csv_books.csv')

df.head()

,Book 1:,Book 2:,Book 3:,Book 4:,Book 5:,Book 6:,Book 7:
Character_Primary_Name,,,,,,,
Aberforth,0,0,0,2,1,0,74
Alastor,0,0,0,6,5,0,1
Albus,9,7,5,19,14,18,109
Alecto,0,0,0,0,0,2,13
Alice,0,0,0,0,6,0,0

In [11]:

df=pd.DataFrame()
df.head()

Empty DataFrame
Columns: []
Index: []